<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:jpa="http://www.springframework.org/schema/data/jpa"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/data/jpa
	http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
  
  
  <context:annotation-config></context:annotation-config>
  <context:component-scan base-package="com.wilProject"></context:component-scan>
  
  <context:property-placeholder location="classpath*:config/application-properties.properties"/>
  
  
  <!--  ::::: BEAN QUE SE ENCARGA DE REALIZAR LA CONEXIÓN A LA  BASE DE DATOS ::::: -->
  
  <bean id = "dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
  		<property name="driverClassName" value="${spring.datasource.driverClassName}"></property>
  		<property name="url" value="${spring.datasource.url}"></property>
  		<property name="username" value="${spring.datasource.username}"></property>
  		<property name="password" value="${spring.datasource.password}"></property>
  		
 <!--  	<property name="minPoolSize" value="5"></property> -->
 <!--	<property name="maxPoolSize" value="10"></property> -->
 <!-- 	<property name="maxIdleTime" value="3000"></property> -->
  </bean>
  
  
  
  <!-- ::::::: BEAN QUE SE ENCARGA DE ADMINISTRAR LOS ENTITIES DE JPA Y SUS PROPIEDADES ::::: -->
  
  <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
  		<property name="dataSource" ref="dataSource"></property>
  		<property name="packagesToScan" value="com.wilProject.tiendaMusicalEntities.entities"></property>
  		<property name="jpaProperties">
  			<props>
  				<prop key="hibernate.dialect"> org.hibernate.dialect.MYSQLDialect</prop>
  				<prop key="hibernate.show_sql">true</prop>
  				<prop key="hibernate.jdbc.time_zone">UTC</prop>
  			</props>
  		</property>
  		<property name="persistenceProvider">
  				<bean class="org.hibernate.jpa.HibernatePersistenceProvider"></bean>
  		</property>
  </bean>
  
  
  
  
  <!-- ::::::: BEAN QUE SE ENCARGA DE GESTIONAR LAS TRANSACCIONES PARA EL CRUD DE LOS ENTITIES ::: -->
  
  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
  		<property name="dataSource" ref="dataSource"></property>
  </bean>
  
  
  <!-- ::::::ETIQUETA QUE PERMITE LA ANOTACIÓN @Transactional DE SPRING PARA EJECUTAR DE JPA :::: -->
  
  <tx:annotation-driven transaction-manager="transactionManager"/>
  
  
  <!-- :::: ETIQUETA QUE PERMITE REGISTRAR LAS CLASES QUE SE ENCARGAN DE EJECUTAR LAS TRANSACCIONES A LA BASE DE DATOS  -->
  <jpa:repositories base-package="com.wilProject.tiendaMusicalData.repositories" entity-manager-factory-ref="entityManagerFactory"></jpa:repositories>
  
  
 
	
</beans>